<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="false"  thread-count="1">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="org.daoefang.b2c.testng.HTMLReporter" />
		<listener class-name="org.daoefang.b2c.testng.XLSReporter" />
		<listener class-name="org.daoefang.b2c.testng.ResultListener" />
		<listener class-name="org.daoefang.b2c.testng.RetryListener" />
		<listener class-name="org.daoefang.b2c.testng.Hook" />
		<!-- <listener class-name="org.daoefang.b2c.testng.InvokedMethodListener" 
			/> -->
	</listeners>

	<test name="thread-1">
		<parameter name="os" value="windows" />
		<!-- <parameter name="os_version" value="7" /> -->
		<parameter name="browser" value="firefox" />
		<!-- <parameter name="browser_version" value="8" /> -->
		<!-- <parameter name="resolution" value="1024x768" /> -->
		<parameter name="frontend_url" value="http://localhost:88/index.php" />
		<parameter name="backend_url"
			value="http://localhost:88/index.php?m=admin&amp;c=public&amp;a=login" />
		<!-- <packages>
			<package name="org.daoefang.b2c.tests"/>
		</packages> -->
		<classes>
			<class name="org.daoefang.b2c.tests.Test00001" />
		</classes>
	</test>

	<!-- <test name="thread-2"> <parameter name="os" value="windows" /> <parameter 
		name="os_version" value="7" /> <parameter name="browser" value="ie" /> <parameter 
		name="browser_version" value="8" /> <parameter name="resolution" value="1024x768" 
		/> <parameter name="frontend_url" value="http://localhost:88/index.php" /> 
		<parameter name="backend_url" value="http://localhost:88/index.php?m=admin&amp;c=public&amp;a=login" 
		/> <packages> <package name="org.daoefang.b2c.tests" /> </packages> </test> -->

	<!-- <test name="thread-3"> <parameter name="os" value="windows" /> <parameter 
		name="os_version" value="7" /> <parameter name="browser" value="ie" /> <parameter 
		name="browser_version" value="8" /> <parameter name="resolution" value="1024x768" 
		/> <parameter name="frontend_url" value="http://localhost:88/index.php" /> 
		<parameter name="backend_url" value="http://localhost:88/index.php?m=admin&amp;c=public&amp;a=login" 
		/> <packages> <package name="org.daoefang.b2c.tests" /> </packages> </test> -->

	<!-- <test name="thread-4"> <parameter name="os" value="windows" /> <parameter 
		name="os_version" value="7" /> <parameter name="browser" value="ie" /> <parameter 
		name="browser_version" value="8" /> <parameter name="resolution" value="1024x768" 
		/> <parameter name="frontend_url" value="http://localhost:88/index.php" /> 
		<parameter name="backend_url" value="http://localhost:88/index.php?m=admin&amp;c=public&amp;a=login" 
		/> <packages> <package name="org.daoefang.b2c.tests" /> </packages> </test> -->
</suite>